body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

.banner {
    background-color: darkgreen;
    color: aqua;
    text-align: center;
}

.intro {
    background-color: lightgray;
    padding: 1em;
}

#console {
    text-align: center;
    color: blueviolet;
}
.ourStore{
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    margin: 1em;
    border: 15px;
    border-radius: 0.25rem;
    border-color: black;
    border-style: ridge;
}
#welcomein{
    padding: 2em;
    order: 2;
    flex-grow: 1;
    border: 0;
}
.whatWeDo{
    padding: 2em;
    color: bisque;
    flex-grow: 1;
    order: 4;
}
#services{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: bisque;
    text-decoration-thickness: 5px;
}
li{
    padding: 1em;
    font-weight: bolder;
}