body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}

.banner {
    background-color: darkgreen;
    color: aqua;
    text-align: center;
}

.intro {
    background-color: lightgray;
    padding: 1em;
}

#console {
    text-align: center;
    color: blueviolet;
}
.ourStore{
    display: flex;
}